<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.OrdenTrabajoMapper" >
  
    <resultMap id="recordOT" type="com.sacooliveros.gepsac.model.OrdenTrabajo" >
        <id column="cod_ordentrabajo" property="codigo" jdbcType="VARCHAR" />
        <result column="fec_ingreso" property="fecIngreso" jdbcType="VARCHAR" />
        <result column="fec_asignado" property="fecAsignado" jdbcType="VARCHAR" />
        
        
        <result column="cod_estado" property="estado.codigo" jdbcType="VARCHAR" />
        <result column="nom_estado" property="estado.nombre" jdbcType="VARCHAR" />
        
        
        <result column="cod_region" property="region.codigo" jdbcType="VARCHAR" />
        <result column="nom_region" property="region.nombre" jdbcType="VARCHAR" />
        
        <result column="cod_supervisor" property="supervisor.codigo" jdbcType="VARCHAR" />
        <result column="nom_supervisor" property="supervisor.nombres" jdbcType="VARCHAR" />
        <result column="ape_supervisor" property="supervisor.apellidos" jdbcType="VARCHAR" />
        
        <result column="cod_verificador" property="verificador.codigo" jdbcType="VARCHAR" />
        <result column="nom_verificador" property="verificador.nombres" jdbcType="VARCHAR" />
        <result column="ape_verificador" property="verificador.apellidos" jdbcType="VARCHAR" />
        
    </resultMap>
    
    <select id="get" resultMap="recordOT">
        SELECT
        a.cod_ordentrabajo,
        a.fec_ingreso,
        a.fec_asignado,
        b.cod_estado,
        b.nom_estado,
        d.cod_region,
        d.nom_region,
        c.cod_verificador,
        c.nombre as nom_verificador,
        c.apellidos as ape_verificador
        FROM tp_orden_trabajo a inner join tp_estado b on a.cod_estado = b.cod_estado
        inner join tp_region d on a.cod_region = d.cod_region
        left join tp_verificador c on a.cod_verificador = c.cod_verificador
        WHERE a.cod_ordentrabajo = #{codigo}
    </select>
    
    
    <select id="queryArchivo" resultMap="recordOT">
        SELECT
        a.cod_ordentrabajo,
        a.fec_ingreso,
        a.fec_asignado,
        b.cod_estado,
        b.nom_estado,
        d.cod_region,
        d.nom_region,
        c.cod_verificador,
        c.nombre as nom_verificador,
        c.apellidos as ape_verificador
        FROM tp_orden_trabajo a inner join tp_estado b on a.cod_estado = b.cod_estado
        inner join tp_region d on a.cod_region = d.cod_region
        left join tp_verificador c on a.cod_verificador = c.cod_verificador
        WHERE a.cod_archivo = #{codigoArchivo}
        ORDER BY a.cod_region asc, a.cod_ordentrabajo asc
    </select>
    
    <select id="queryReqion" resultMap="recordOT">
        SELECT
        a.cod_ordentrabajo,
        a.fec_ingreso,
        a.fec_asignado,
        b.cod_estado,
        b.nom_estado,
        d.cod_region,
        d.nom_region,
        c.cod_verificador,
        c.nombre as nom_verificador,
        c.apellidos as ape_verificador
        FROM tp_orden_trabajo a inner join tp_estado b on a.cod_estado = b.cod_estado
        inner join tp_region d on a.cod_region = d.cod_region
        left join tp_verificador c on a.cod_verificador = c.cod_verificador
        WHERE a.cod_region = #{codigoRegion}
    </select>
    
    <update id="update">
        Update tp_orden_trabajo set 
            fec_ingreso = #{fecIngreso}, fec_asignado = #{fecAsignado}, cod_supervisor = #{supervisor.codigo}, 
            cod_verificador = #{verificador.codigo}, cod_estado = #{estado.codigo}
        where cod_ordentrabajo = #{codigo}
    </update>
</mapper>