<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.SupervisorMapper" >
  
    <resultMap id="recordResultMap" type="com.sacooliveros.gepsac.model.Supervisor" >
        <id column="cod_supervisor" property="codigo" jdbcType="VARCHAR" />
        <result column="dni" property="dni" jdbcType="VARCHAR" />
        <result column="nombre" property="nombres" jdbcType="VARCHAR" />
        <result column="apellidos" property="apellidos" jdbcType="VARCHAR" />
        <result column="direccion" property="direccion" jdbcType="VARCHAR" />
        <result column="cod_region" property="region.codigo" jdbcType="VARCHAR" />
        <result column="nom_region" property="region.nombre" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="query" resultMap="recordResultMap">
        SELECT
        a.cod_supervisor,
        a.dni,
        a.nombre,
        a.apellidos,
        a.direccion,
        b.cod_region,
        b.nom_region
        FROM tp_supervisor a inner join tp_region b on a.cod_region = b.cod_region
    </select>
    
    <select id="queryReqion" resultMap="recordResultMap">
        SELECT
        a.cod_supervisor,
        a.dni,
        a.nombre,
        a.apellidos,
        a.direccion,
        b.cod_region,
        b.nom_region
        FROM tp_supervisor a inner join tp_region b on a.cod_region = b.cod_region
        WHERE b.cod_region = #{codigoRegion}
    </select>
</mapper>