<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sacooliveros.gepsac.dao.mybatis.mapper.VerificadorMapper" >
  
    <resultMap id="recordResultMap" type="com.sacooliveros.gepsac.model.Verificador" >
        <id column="cod_verificador" property="codigo" jdbcType="VARCHAR" />
        <result column="dni" property="dni" jdbcType="VARCHAR" />
        <result column="nombre" property="nombres" jdbcType="VARCHAR" />
        <result column="apellidos" property="apellidos" jdbcType="VARCHAR" />
        <result column="direccion" property="direccion" jdbcType="VARCHAR" />
        <result column="cant_ot_asignado" property="cantOTEnProceso" jdbcType="VARCHAR" />
        <result column="cod_region" property="region.codigo" jdbcType="VARCHAR" />
        <result column="nom_region" property="region.nombre" jdbcType="VARCHAR" />
        <result column="cod_estado" property="estado.codigo" jdbcType="VARCHAR" />
        <result column="nom_estado" property="estado.nombre" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="get" resultMap="recordResultMap">
        SELECT
        a.cod_verificador,
        a.dni,
        a.nombre,
        a.apellidos,
        a.direccion,
        count(d.cod_ordentrabajo) as cant_ot_asignado,
        b.cod_region,
        b.nom_region,
        c.cod_estado,
        c.nom_estado
        FROM tp_verificador a inner join tp_region b on a.cod_region = b.cod_region
        inner join tp_estado c on a.cod_estado = c.cod_estado
	left join tp_orden_trabajo d on a.cod_verificador = d.cod_verificador
        WHERE a.cod_verificador = #{codigo}
        GROUP BY a.cod_verificador,b.cod_region,c.cod_estado
    </select>
    
    <select id="queryReqion" resultMap="recordResultMap">
        SELECT
        a.cod_verificador,
        a.dni,
        a.nombre,
        a.apellidos,
        a.direccion,
        count(d.cod_ordentrabajo) as cant_ot_asignado,
        b.cod_region,
        b.nom_region,
        c.cod_estado,
        c.nom_estado
        FROM tp_verificador a inner join tp_region b on a.cod_region = b.cod_region
        inner join tp_estado c on a.cod_estado = c.cod_estado
	left join tp_orden_trabajo d on a.cod_verificador = d.cod_verificador
        WHERE b.cod_region = #{codigoRegion}
        GROUP BY a.cod_verificador,b.cod_region,c.cod_estado
    </select>
    
    <update id="update">
        Update tp_verificador set 
        cant_ot_asignado = #{cantOTEnProceso}, cod_estado = #{estado.codigo}
        where cod_verificador = #{codigo}        
    </update>
    
    
    
    <resultMap id="recordRegion" type="com.sacooliveros.gepsac.model.Region" >
        <id column="cod_region" property="codigo" jdbcType="VARCHAR" />
        <result column="nom_region" property="nombre" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="getRegion" resultMap="recordRegion">
        SELECT
        cod_region,
        nom_region
        FROM tp_region
        WHERE cod_region = #{codigo}
    </select>
</mapper>