<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Novatronic</title>
        <link href="http://www.novatronic.com/geninfo/style.css" rel="stylesheet" type="text/css">
        
</head>
<body>

<center>
        <table width="100%"  cellpadding="0" cellspacing="0" border="0">
        
         <tr>
                <div  class ="icon-novatronic"></div>
        </tr>
        
        <tr>
                <td >Estimado(a) <b>$usuario,</b> </td>
                <td > &nbsp; </td>
        </tr>
        
        
        <tr>
                <td>
                <p><br><br>
                        La contrase&ntilde;a de su cuenta del sistema de Control de Acceso, se ha cambiado recientemente.
						Si usted la modific&oacute;, no necesita realizar ninguna otra acci&oacute;n.
							<br>
						Si no la modific&oacute; usted, es posible que su cuenta haya sido vulnerada. Para poder volver a iniciar sesi&oacute;n,
						deber&aacute; solicitar el reseteo de su contrase&ntilde;a.
						 
					
                        </p><br>
                </td>
        </tr>
        <tr>
                <td >Nueva Contrase&ntilde;a:<b>$nuevaClave</b> </td>
                <td > &nbsp; </td>
        </tr>
                        
        <br/>
        <br/>
        <tr>
                <td>
                        <p>
                                        
                        <br/>
                        <br/>
                        Atentamente,<br><br>
                        
                        <b>Novatronic.<b>                       
                        
                        </p><br>
                </td>
        </tr>
        </table>

</body>

</html>