<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Novatronic</title>
        <link href="http://www.novatronic.com/geninfo/style.css" rel="stylesheet" type="text/css">
        
</head>
<body>

<center>
        <table width="100%"  cellpadding="0" cellspacing="0" border="0">
        
         <tr>
                <div  class ="icon-novatronic"></div>
        </tr>
        
        <tr>
                <td >Estimado(a) <b>$usuario,</b> </td>
                <td > &nbsp; </td>
        </tr>
        
        
        <tr>
                <td>
                <p><br><br>
                        
							El proceso de reseteo de contrase&ntilde;a se realiz&oacute; satisfactoriamente.
							Usted podr&aacute; ingresar al Sistema de Control de Accesos con la nueva contrase&ntilde;a generada.
			
                        </p><br>
                </td>
        </tr>        
        
        <tr>
                <td >Nueva Contrase&ntilde;a: <b> $contrasenia</b></td>
                <td > &nbsp; </td>
        </tr>
        
        <br/>
        <br/>
        <tr>
                <td>
                        <p>
                                        
                        <br/>
                        <br/>
                        Atentamente,<br><br>
                        
                        <b>Novatronic.<b>                       
                        
                        </p><br>
                </td>
        </tr>
        </table>

</body>

</html>