<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!-- $Id: log4j.xml 5723 2007-07-08 22:54:42Z myuan $ -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] [%-5p] %m - (%c){%l}%n" />
        </layout>
    </appender>
    
    <appender name="TRAZADO" class="org.apache.log4j.DailyRollingFileAppender">       
        <param name="File" value="trazado.log" />
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] [%-5p] %m - (%c){%l}%n" />
        </layout>
    </appender>    
      
    <root>
        <level value="TRACE" />        
        <appender-ref ref="CONSOLE" />
    </root>
    
</log4j:configuration>
